body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EFE2FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    
}

.card {
    background-color: rgb(255, 255, 255);
    width: 360px;
    padding: 20px;
    box-shadow: 0 4px 8px #7164B4;
    border-radius: 8px;
}

.icon img {
    width: 70px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
}

form {
    margin-top: 20px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #7164B4;
    border-radius: 4px;
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #8F9FE4;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #BCA5D4;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #504394;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.back-link:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: none;
}

.hidden {
    display: none;
}
