* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EFE2FA;
    color: black;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BCA5DA;
    padding: 10px;
    height: 5%;
}

.logo img {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(248, 244, 244);
    font-size: 16px;
    background-color: transparent;
}
 a {
    color: black;
    background-color: #fff;
    font-size: 16px;
} 

.auth-buttons {
    display: flex;
    gap: 10px;
}

 .register-btn, .login-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.register-btn {
    background-color: #7164BA;
    color: white;
} 

.login-btn {
    background-color: #7164BA;
    color: white;
}


/* Hero Section */
.hero {
    /* background-image: url('image.avif');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    */
    text-align: center;
    color: black;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-buttons button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.get-started-btn {
    background-color: #7164BA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.learn-more-btn {
    background-color: #7164BA;
    color: #f2f5f3;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Info Cards */
.info-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 50px 20px;
    background-color: #7164BA;
    color: rgb(235, 224, 224);
}

.card {
    width: 30%;
    text-align: center;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: white;
}
