/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #BACBFE,#EFE2FA);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.password-card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 15px #7164B4;
    max-width: 400px;
    width: 90%;
}

.password-card h1 {
    color: #070707;
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #2e2525;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1f1d1d;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #420505;
    box-shadow: 0 0 5px #8F9FE4;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #8F9FE4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #BACBFE;
}

#errorMessage {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}