body {
      font-family: Arial,sans-serif;
      margin: 0;
      padding: 0;
      background-color: #EFE2FA;
      color: #070202;
}

header a {
    color: #BCA5D4;
    background-color: transparent;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
}

.home-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #cfbae9;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.start-exam-link {
    background-color: #7164B4;
    color: rgb(244, 252, 252);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}


.start-exam-link:hover {
    background-color:  #8ea4e4;
}


a {
    text-align: center;
}